In [8]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
import urllib.request
import warnings
warnings.filterwarnings('ignore')

In [18]:
# data_path = 'https://https://raw.githubusercontent.com/Slimcent/Machine_Learning_Datasets/main/ML/languages.csv'

# def download_read_data(path):
    
#     """
#      Function to retrieve data from the data paths
#      And to read the data as a pandas dataframe
  
#     To return the dataframe
#     """ 
    
#       ## Only retrieve the directory of the data

#     data_path =  urllib.request.urlretrieve(path)[0]
#     data = pd.read_csv(path)
    
#     return data

In [22]:
# data = download_read_data(data_path)
# data.head()

In [20]:
# Load the data from CSV
data = pd.read_csv('languages.csv')

In [21]:
data.head()

                                                Text  language
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4  de spons behoort tot het geslacht haliclona en...     Dutch

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Text      22000 non-null  object
 1   language  22000 non-null  object
dtypes: object(2)
memory usage: 343.9+ KB

In [23]:
data.isnull().sum()

Text        0
language    0
dtype: int64

In [29]:
num_languages = data['language'].nunique()

print(f'Number of languages in the dataset is: {num_languages}')

Number of languages in the dataset is: 22

In [24]:
data["language"].value_counts()

language
Estonian      1000
Swedish       1000
English       1000
Russian       1000
Romanian      1000
Persian       1000
Pushto        1000
Spanish       1000
Hindi         1000
Korean        1000
Chinese       1000
French        1000
Portugese     1000
Indonesian    1000
Urdu          1000
Latin         1000
Turkish       1000
Japanese      1000
Dutch         1000
Tamil         1000
Thai          1000
Arabic        1000
Name: count, dtype: int64